.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 100%;
}

.config {
  display: flex;
  flex-direction: column;

  position: fixed;

  top: 2rem;
  left: 2rem;

  width: 15rem;
  height: auto;
}

.counters,
.char-picker {
  display: flex;
  flex-direction: column;

  width: 15rem;

  padding: 1rem;

  border: 1px solid rgb(184, 184, 184);
  border-radius: 0.4rem;
}

.counters {
  height: 5rem;

  margin-bottom: 1rem;
}

.char-picker {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  height: auto;
}

.char-picker div {
  width: 50%;
}

.char-picker button {
  width: 100%;

  margin-top: 1rem;

  padding: 0.4rem 0;

  font-size: 1rem;

  background: rgb(55, 131, 231);
  color: white;

  border: none;
  border-radius: 0.4rem;

  cursor: pointer;
}

.char-picker div input {
  margin-right: 0.5rem;
}

.text-input,
.text-progression {
  font-family: 'Roboto Mono', monospace;
}

.text-input {
  width: 13rem;

  margin-top: 1rem;
  padding: 0.5rem 0.6rem;

  text-align: center;

  border: 1px solid rgb(145, 145, 145);
  border-radius: 0.4rem;
}

.text-input:focus {
  border-color: rgb(55, 131, 231);
}

.key {
  color: black;
  opacity: 50%;
}

.valid,
.invalid {
  opacity: 100%;
}

.valid {
  color: #1ece35;
}

.invalid {
  color: #d62828;
}
